#GameBoard {
	position: relative;
	margin: auto;
	border-style: solid;
	background-color: 'pink';
	overflow: hidden;
	box-sizing:content-box;
}

#GameBoard .Block {
	position: absolute;
}

#GameBoard .Snake:first-child::after {
	content: '';
	position:absolute;
	top:10px;
	height:10px;
	width:10px;
	left:10px;
	border:1px solid black;
	background-color: white !important;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	text-align: center;
	font-weight: bold;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
}

